{% extends 'base.html' %}
{% block content %}
    <<img class="photo" src="{{ photo.picture.url }}" width="250" height="250" alt="picture">
    <h1 class="my-3"> Подпись фотографии: {{ photo.label }}</h1>
    <p>Автор: {{ photo.author }}</p>
    <p>Дата создания: {{ photo.created_at }}</p>
    <p>Комментарии:</p>
        {% for comment in comments %}
            <p>Текст: {{ comment.text }} <br> Создан {{ comment.created_at }}</p>
            <p>Автор : {{ comment.author }}</p>
        {% endfor %}
    {% if user.is_authenticated %}
    <form id="">
    <input  class="form-control" type="text" id="text_input">
    <input  class="form-control" type="hidden" id="photo_input" value={{ photo.pk }}>
    <input  class="form-control" type="hidden" id="author_input" value={{ request.user }}>
    <button type="submit" id="comment_btn">
        <script>
            let textInput,photoInput,authorInput;
            function setUpGlobalVars() {
                textInput = $('#text_input');
                photoInput = $('#photo_input');
                authorInput = $('#author_input')
                }
            ($('#comment_btn').on('submit',function (event) {
                event.preventDefault()


            }))
        </script>
        Отправить</button>
    </form>
    {% endif %}
{% endblock %}